.counter {
  border: 2px solid green;
  margin: 10px auto;
  text-align: center;
  width: 400px;
  background-color: rgb(238, 248, 197);
}

.button{
  background-color: #951;
  color: black;
  border: none;
  margin: 5px;
  width: 25px;
  height: 25px;  
}